div {
  font-size: 20px;
}
@keyframes MyAnimation {
  0% {
    left: 0px;
  }
  50% {
    left: 200px;
  }
  100% {
    left: 20px;
  }
}
.example.is-animating {
  animation: MyAnimation 2s;
}
.page-wrap {
  display: -ms-flexbox;
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
}