// these css rules are for testing the workflow while it's being built
// they will be deleted
div {
    font-size: 20px;
}

p {
    color: yellow;
}

.example.is-animating {
    animation: MyAnimation 2s;
}

.page-wrap {
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (max-width: 500px) {
    p {
        font-size: 30px;
    }
}
